
.modal-title{
  letter-spacing: 1.4px;
  font-family: $bold;
  color:$add_to;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.modal-content{
  border-radius: 0;
}

.modal-header .close{
  opacity: 1;
}

.modal-header .close span{
  color:$add_to;
  font-weight: 400;
}

.modal-header .close:hover, .modal-header .close:focus{
  opacity:1;
}

.modal-body{
  padding: 10px 15px;
}


.itemRow{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-bottom:1px solid #efefef;
  overflow: hidden;
  color:$add_to;
  font-family: $regular;
  letter-spacing: 1.2px;
  font-size: 12px;
  padding: 10px 0;
}


.itemRow .item-image img{
  width: 40px;
  margin-right: 20px;
}

 .total_price{
  letter-spacing: 1.4px;
  font-family: $bold;
  color:$add_to;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: right;
  padding-top: 10px;
}

.total_price .simpleCart_total{
  display: inline-block;
}

.itemRow .item-name{
  letter-spacing: 1.2px;
  font-family: $bold;
  color:$add_to;
  font-size: 12px;
  line-height: 14px;
}

.itemRow .item-quantity {
    position: absolute;
    left: 60px;
    bottom: 5px;
    font-family: $regular;
    color:$add_to;
}

.itemRow .item-quantity::after{
  content: 'x';
  font-family: $regular;
  color:$add_to;
  margin-left: 3px;
}

.itemRow .item-price{
  position: absolute;
  left: 80px;
  bottom: 5px;
  font-family: $regular;
  color:$add_to;
}

.itemRow .item-price::before{
  content: '£';
  font-family: $regular;
  color:$add_to;
  margin-left: 1px;
}

.itemRow .item-remove {
    margin-left: auto;
    cursor: pointer;
}

.itemRow .item-remove a{
  letter-spacing: 1.2px;
  font-family: $bold;
  color:$add_to;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
}

.itemRow .item-remove a:hover, .itemRow .item-remove a:focus{
  text-decoration: none;
}

div#space {
    position: absolute;
    left: 68px;
    bottom: 5px;
    font-family: $regular;
    color:$add_to;
}
